.card-service{
  @include flex;
  @include align-center;
  flex-direction: column;

  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);

  background-color: var(--color-white);
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  transition: .3s ease;

  > svg{
    margin-bottom: 2rem;
  }

  &:hover{
    transform: translateY(-.5rem);

    @include breakpoint(tablet-big){
      transform: translateY(0);
    }
  }

  &__title{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.6rem;
    color: var(--color-primary-blue);
    text-align: center;

    @include breakpoint(tablet-big){
      font-size: 1.6rem;
      line-height: initial;
    }
  }
}

.card-newsHome{
  align-self: flex-start;
  transition: .3s ease;
  border-radius: .4rem;

  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  &:hover{
    transform: translateY(-.5rem);

    @include breakpoint(tablet-big){
      transform: translateY(0);
    }
  }
  &__top{
    border-radius: .4rem;
  }

  &__image{
    width: 100%;
    display: block;

    border-radius: .4rem;
  }

  &__content{
    padding: 2rem 2.4rem;
    background-color: #F7F7F7;
    border-radius: .4rem;
  }

  &__date{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--color-gray);
    text-transform: uppercase;
  }

  &__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-black);
    padding-bottom: 1.5rem;
    margin-bottom: 1.6rem;
    
    position: relative;

    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 3.6rem;
      height: .3rem;
      border-radius: .3rem;
      background-color: var(--color-second-blue);
    }
  }

  &__description{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-black);
    margin-bottom: 1.6rem;
  }

  &__link{
    display: block;
    text-decoration: none;
    transition: .3s ease;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color-second-blue);

    &:hover{
      color: var(--color-second-orange);
    }
  }
}

.card-news{
  @include flex;
  flex-direction: column;
  background-color: #F7F7F7;

  min-height: 35rem;
  transition: .3s ease;
  border-radius: .4rem;

  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  &:hover{
    transform: translateY(-.5rem);

    @include breakpoint(tablet-big){
      transform: translateY(0);
    }
  }

  &__header{
    @include flex;
    @include align-center;
    @include justify-space-between;

    margin-bottom: .9rem;
  }

  &__date{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--color-gray);
    text-transform: uppercase;
  }

  &__category{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--color-primary-blue);
  }

  &__photo{
    height: 17.8rem;
  }

  &__image{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
  }

  &__content{
    flex: 1;
    @include flex;
    @include justify-space-between;
    flex-direction: column;
    padding: 1.6rem 2.4rem;


  }

  &__top{
    margin-bottom: 1rem;
  }

  &__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-black);
  }

  &__bottom{

  }

  &__btn{
    display: inline-block;
    text-decoration: none;
    transition: .3s ease;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color-second-blue);

    &:hover{
      color: var(--color-second-orange);
    }

  }
}

.card-bidding{
  @include flex;
  @include justify-space-between;
  flex-direction: column;

  min-height: 20.5rem;
  padding: 2.7rem 3.2rem;

  @include breakpoint(tablet){
    padding: 2rem 1rem;
  }

  &__top{

  }

  &__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-black);
  }

  &__date{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-gray);
    margin-bottom: .8rem;
  }

  &__text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-black);
    margin-bottom: 1.6rem;
  }

  &__bottom{

  }

  &__btn{
    display: block;
    text-decoration: none;
    transition: .3s ease;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color-second-blue);

    &:hover{
      color: var(--color-second-orange);
    }
  }
}

.card-tourism{
  @include flex;
  flex-direction: column;
  background-color: #F7F7F7;

  min-height: 33rem;
  transition: .3s ease;
  border-radius: .4rem;

  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  &:hover{
    transform: translateY(-.5rem);

    @include breakpoint(tablet-big){
      transform: translateY(0);
    }
  }

  &__photo{
    height: 17.8rem;
  }

  &__image{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
  }

  &__content{
    flex: 1;
    @include flex;
    @include justify-space-between;
    flex-direction: column;
    padding: 1.6rem 2.4rem;


  }

  &__top{
    margin-bottom: 1rem;
  }

  &__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-black);
  }

  &__bottom{

  }

  &__btn{
    display: inline-block;
    text-decoration: none;
    transition: .3s ease;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color-second-blue);

    &:hover{
      color: var(--color-second-orange);
    }

  }
}