#form-envio{
  padding: 3rem 0;
  margin: 4rem 0;
  border-top: 1px solid #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
}

#form-contato{
  padding: 3rem 0;
  margin: 3.2rem 0;
  border-top: 1px solid #F7F7F7;
}

.form{

  &--second{
    width: 100%;
    padding: 2.5rem 3.1rem;
    border-radius: .8rem;
    background-color: #F7F7F7;
    margin-top: 2.5rem;

    @include breakpoint(tablet){
      padding: 2.5rem 1.6rem;
    }
  }

  &__section{
    margin-bottom: 4rem;
  }

  &__title{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-primary-blue);
    text-transform: uppercase;
    margin-bottom: 1.8rem;

    &--second{
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.6rem;
      color: var(--color-black);
      margin-bottom: 2.7rem;
    }
  }

  &__row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.9rem;

    @include breakpoint(tablet){
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1.6rem;
    }

    &--second{
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 2.9rem;

      @include breakpoint(tablet-big){
        grid-template-columns: repeat(1,1fr);
      }
    }

    &--third{
      display: grid;
      grid-template-columns: 3fr 3fr 1fr;
      grid-gap: 2.9rem;

      @include breakpoint(tablet-big){
        grid-template-columns: repeat(1,1fr);
      }
    }

    &-flex{
      @include flex;
      @include align-end;
      @include justify-space-between;

      padding: 1.7rem 2.5rem;
      border-radius: .8rem;
      background-color: #F7F7F7;

      @include breakpoint(tablet){
        @include flex-wrap;
        padding: 2.5rem 1.6rem;
      }
    }
  }

  &__group{
    position: relative;

    &--second{
      margin: 2.4rem 0;
    }

    &-50{
      @extend .form__group;
      flex: 0 0 49%;

      @include breakpoint(tablet){
        flex: 0 0 100%;
        margin-bottom: 1.6rem;
      }
    }
    &-30{
      @extend .form__group;
      flex: 0 0 29%;

      @include breakpoint(tablet){
        flex: 0 0 100%;
        margin-bottom: 1.6rem;
      }
    }
    &-20{
      @extend .form__group;
      flex: 0 0 19%;

      @include breakpoint(tablet){
        flex: 0 0 100%;
        margin-bottom: 1.6rem;
      }

      .form__submit{
        max-width: none;

        @include breakpoint(tablet){
          max-width: 13rem;
        }
      }
    }
  }

  &__error{
    position: absolute;
    bottom: -1.7rem;
    right: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-second-orange);
    transition: .3s ease;
    opacity: 0;
  }

  &__label{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-primary-blue);
    margin-bottom: .5rem;
  }

  &__input{
    box-sizing: border-box;
    width: 100%;

    padding: .9rem .8rem;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-gray);

    background-color: var(--color-white);
    border-radius: .4rem;
    border: 1px solid #b7b7b7;

  }

  &__select{
    @extend .form__input;
    -o-appearance:none;
  }

  &__textarea{
    @extend .form__input;
    resize: none;
    height: 20rem;
  }

  &__bottom{


    &--second{
      @include flex;
      @include align-center;
      @include justify-center;
    }
  }

  &__submit{
    max-width: 13rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 1rem .5rem;
    transition: .3s ease;

    border: none;
    border-radius: .4rem;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;

    background-color: var(--color-second-blue);
    color: var(--color-white);

    &:hover{
      background-color: var(--color-second-orange);
    }

    &--second{
      max-width: 26.8rem;
      width: 100%;
      text-align: center;
      display: inline-block;
      padding: 1rem .5rem;
      transition: .3s ease;

      border: none;
      border-radius: .4rem;

      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2rem;

      background-color: var(--color-second-blue);
      color: var(--color-white);

      &:hover{
        background-color: var(--color-second-orange);
      }
    }
  }
}

.files{
  width: 50%;

  @include breakpoint(tablet-big){
    width: 100%;
  }
  &__input{
    @include flex;


    @include breakpoint(mobile){
      display: block;
    }

    &--false{
      display: none;
    }
  }

  &__name{
    @extend .form__input;

    @include breakpoint(mobile){
      margin-bottom: 1rem;
    }
  }

  &__btn{
    @extend .form__submit;
    cursor: pointer;
  }
}