.sidebar{
  
  &__title{
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.8rem;
    color: var(--color-black);
    margin-bottom: 2.4rem;
  }

  &__list{
    list-style: none;
  }

  &__item{

    &:not(:last-child){
      margin-bottom: .4rem;
    }

    &--active{
      
      .sidebar__link{
        color: var(--color-second-orange);

        svg{
          path{
            stroke: var(--color-second-orange);
          }
        }
      }
    }
  }

  &__link{
    @include flex;
    @include align-center;

    text-decoration: none;
    transition: .3s ease;

    padding: 1.6rem 2.6rem;
    border-radius: .4rem;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;


    background-color: #F7F7F7;
    color: var(--color-primary-blue);

    &:hover{
      color: var(--color-second-orange);

      svg{
        path{
          stroke: var(--color-second-orange);
        }
      }
    }

    svg{
      margin-right: 1.6rem;
      path{
        transition: .3s ease;
        stroke: var(--color-primary-blue);
      }
    }
  }
}

.list-service{
  list-style: none;

  &__item{
    @include flex;
    @include align-center;

    padding: .7rem 1.9rem;

    > svg{
      margin-right: 2.5rem;
    }
  }

  &__text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-black);
  }
}