.slick-dots{
  @include flex;
  @include align-center;

  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  list-style: none;

  padding: 0 1rem;

  li{
    
    &:not(:last-child){
      margin-right: 1.6rem;
    }

    button{
      border: 2px solid var(--color-white);
      background-color: transparent;
      width: 1.2rem;
      height: 1.2rem;
      color: transparent;
      font-size: .8rem;
      border-radius: 50%;
    }

    &.slick-active{
      button{
        background-color: var(--color-white);
      }
    }
  }
}