.center{
    max-width: 1360px;
    width: 90%;
    margin: 0 auto;
}

.scroll{
    position: fixed;
    bottom: 2.4rem;
    right: 2.4rem;
    z-index: 10;

    @include breakpoint(tablet-big){
        bottom: 1.6rem;
        right: 1.6rem;
    }

    @include breakpoint(mobile){
        bottom: .7rem;
        right: .7rem;
    }


    &__link{
        @include flex;
        @include align-center;
        @include justify-center;
        background-color: orangered;
        width: 4.6rem;
        height: 4.6rem;
        border-radius: 50%;

        @include breakpoint(mobile){
            width: 3.6rem;
            height: 3.6rem; 
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

.search-active{
    opacity: 1!important;
    pointer-events: auto!important;
}

.btn-active{
    span{
        color: var(--color-second-orange)!important;
    }
    svg{
        path{
            stroke: var(--color-second-orange)!important;
        }
    }
}

.mobile-active{
    transform: translateX(0)!important;
}

.menu-active{
    opacity: 1!important;
    pointer-events: auto!important; 
}

.menu-mobile-active{
    position: relative!important;
    opacity: 1!important;  
}

.map-active{
    position: relative!important;
    opacity: 1!important;
}