// Importando a Fonte
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

// Variaveis de Font
$font-principal: 'Montserrat', sans-serif;


// Variaveis de Tela
$mobile: 600px; //600px
$tablet: 900px; //900px
$desktop: 1200px; //1200px
$extra-desktop: 1800px; //1800px

// Variaveis de Cores

$preto: #000;
$branco: #fff;