.header{
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
  padding: 2rem 0;

  position: relative;

  z-index: 99999;
  
  &__wrapper{
    @include flex;
    @include justify-space-between;
    @include align-center;
  }

  &__content{
    @include breakpoint(tablet-big){
      @include flex;
      flex-direction: column;
    }
  }
}

.logo-header{
  max-width: 31rem;
  width: 100%;

  @media screen and (max-width: 1200px){
    max-width: 23rem;
  }

  @include breakpoint(tablet-big){
    max-width: 16rem;
  }

  &__link{
    display: block;
  }

  &__image{
    display: block;
    width: 100%;
  }
}