.index{
    margin: 4rem 0;

    &__titulo{
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__item{
        list-style-position: inside;
    }

    &__link{
        font-size: 1.6rem;
        font-weight: 400;
        text-decoration: none;
        color: $preto;
    }
}