.slide{
  margin: 4rem 0; 

  &__wrapper{

  }
  &__item{
    border-radius: .4rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    height: 462px;

    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    @include justify-center;
    flex-direction: column;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);
      border-radius: .4rem;
    }
  }

  &__content{
    position: relative;
    max-width: 50rem;
    width: 100%;
    padding-left: 4rem;

    @include breakpoint(tablet){
      max-width: none;
      padding: 0 2rem;
    }
  }

  &__title{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.8rem;
    color: var(--color-white);
    margin-bottom: 3.1rem;

    @include breakpoint(tablet){
      line-height: initial;
      font-size: 2.6rem;
    }

    @include breakpoint(mobile){
      font-size: 2rem;
    }
  }

  &__link{
    text-decoration: none;
    display: block;
    width: 15rem;
    border-radius: .4rem;
    padding: 1rem 0;
    transition: .3s ease;

    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;

    background-color: var(--color-second-blue);
    color: var(--color-white);

    &:hover{
      background-color: var(--color-second-orange);
    }
  }
}

.service{
  background-color: var(--color-primary-blue);
  padding: 3rem 0;
  margin-bottom: 5rem;

  &__title{
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.8rem;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 2.4rem;
  }

  &__wrapper{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 2.4rem;

    @include breakpoint(tablet-big){
      grid-template-columns: repeat(3,1fr);
      grid-gap: 1.6rem;
    }
    @include breakpoint(mobile){
      grid-template-columns: repeat(2,1fr);
    }
  }
}