.page{
  margin: 6rem 0 6rem;

  @include breakpoint(tablet){
    margin: 3rem 0 6rem;
  }

  &--intern{
    margin-bottom: 6rem;
  }
  &__wrapper{
    @include flex;
    @include justify-space-between;

    .sidebar{
      flex: 0 0 25%;

      @include breakpoint(tablet-big){
        display: none;
      }
    }
  }

  &__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.4rem;

    @include breakpoint(tablet){
      grid-template-columns: repeat(2,1fr);
    }
    @include breakpoint(mobile){
      grid-template-columns: repeat(1,1fr);
    }
  }

  &__bg{
    position: relative;

    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    height: 49rem;
    margin-bottom: 5.9rem;

    @include breakpoint(tablet){
      height: 32rem;
      margin-bottom: 3.9rem;
    }

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
    }

    &-content{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    &-title{
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.8rem;
      color: var(--color-white);
      margin-bottom: 1rem;
      
      position: relative;

      @include breakpoint(tablet){
        font-size: 2.6rem;
        line-height: initial;
      }

      &:before{
        content: '';
        position: absolute;
        top: -1rem;
        left: 0;
        width: 3.6rem;
        height: .3rem;
        background-color: var(--color-second-blue);
        border-radius: 1rem;
      }
    }

    &-text{
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: var(--color-white);

      @include breakpoint(tablet){
        font-size: 1.4rem;
        line-height: 2rem;
      }

      &:not(:last-child){
        margin-bottom: .4rem;
      }
    }
  }

  &__group{
    height: 17.8rem;
  }

  &__image{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
  }
}

.intern{
  flex: 1;
  margin-right: 2.4rem;

  @include breakpoint(tablet-big){
    margin-right: 0;
  }

  &__wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2.4rem;

    margin-top: 6rem;

    @include breakpoint(tablet){
      grid-template-columns: repeat(2,1fr);
      grid-gap: 1.6rem;
    }
  }

  &__title{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.8rem;
    color: var(--color-black);
    margin-bottom: 2.4rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #ECECEC;
  }

  &__date{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-gray);

    &--second{
      @extend .intern__date;
      margin-bottom: 1.7rem;
    }
  }

  &__row{
    padding: 1.65rem 0;

    border-bottom: 1px solid #ECECEC;

    &--second{
      @include flex;
      @include align-center;
      @include justify-space-between;

      padding: 2.1rem 2.4rem;
      border-radius: .8rem;
      background-color: #F7F7F7;

      @include breakpoint(mobile){
        display: block;
      }

      &:not(:last-child){
        margin-bottom: .8rem;
      }
    }

    &--third{
      padding: 1.65rem 0;
      border-top: 1px solid #ECECEC;
    }

    &--four{
      padding: 1.65rem 0;
      border-top: 1px solid #ECECEC;
      border-bottom: 1px solid #ECECEC;
    }
  }

  &__name{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--color-black);
    margin-bottom: 1rem;
  }

  &__text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-black);

    &--second{
      @extend .intern__text;
      margin-bottom: 3.2rem;
    }
  }

  &__editais{
    padding: 1.65rem 0;
  }

  &__btn{
    @include flex;
    @include align-center;
    @include justify-center;

    padding: .8rem 0;

    text-decoration: none;
    width: 9.5rem;
    transition: .3s ease;
    border-radius: .4rem;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;

    color: var(--color-white);
    background-color: var(--color-second-blue);

    @include breakpoint(mobile){
      margin-top: 1.6rem;
    }

    &:hover{
      background-color: var(--color-second-orange);
    }

    svg{
      margin-left: .5rem;
      path{
        fill: var(--color-white);
      }
    }

    &--second{
      @extend .intern__btn;
      width: 12.6rem;
      margin-bottom: 2.4rem;
    }

    &--third{
      @extend .intern__btn;
      width: 21rem;
      margin-bottom: 2.4rem;
    }
  }
}

.content{
  flex: 1;
  margin-right: 4.4rem;

  @include breakpoint(tablet-big){
    margin-right: 0;
  }

  &__text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-black);

  }
  &__map{
    margin-top: 4rem;
    width: 100%;
    height: 39.5rem;
    border-radius: .4rem;
    iframe{
      width: 100%;
      height: 100%;
      border-radius: .4rem;
    }
  }

  &__title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--color-black);
    margin-bottom: 2.4rem;
  }

  &__section{
    &:not(:last-child){
      padding-bottom: 4rem;
      margin-bottom: 4rem;
      border-bottom: 1px solid #ECECEC;
    }
  }

  &__wrapper{
    @include flex;

    @include breakpoint(mobile){
      flex-direction: column;
    }
  }

  &__hino{
    margin-bottom: 2rem;
  }

  &__item{
    max-width: 28rem;
    width: 100%;

    &:not(:last-child){
      margin-right: 2rem;

      @include breakpoint(mobile){
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }

  &__img{
    display: block;
    width: 100%;
  }

  &__description{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-gray);
    margin-top: 1.6rem;
  }
}

.mayors{
  margin-top: 4rem;

  &--adm{
    margin-right: 2.4rem;
  }
  &__content{
    margin-top: 3.4rem;
  }
  &__item{
    @include flex;

    padding: 2.4rem 0;

    @include breakpoint(tablet){
      display: none;
    }

    &:first-child{
      border-top: 1px solid #ECECEC;
    }

    &:not(:last-child){
      border-bottom: 1px solid #ECECEC;
    }

    &--mobile{
      display: none;

      padding: 2.4rem 0;

      @include breakpoint(tablet){
        display: block;
      }

      &:first-child{
        border-top: 1px solid #ECECEC;
      }
  
      &:not(:last-child){
        border-bottom: 1px solid #ECECEC;
      }
    }
  }

  &__row{
    @include flex;

    .mayors{
      &__photo{
        flex: 0 0 8rem;
        margin-right: 1rem;
        min-height: 8rem;
      }
    }
  }

  &__header{
    flex: 1;
  }

  &__photo{
    max-width: 18.4rem;
    width: 100%;
    min-height: 21rem;
    margin-right: 2.4rem;
    border-radius: .4rem;
    background-color: var(--color-gray);

    @include breakpoint(tablet){
      margin-bottom: 1rem;
    }
  }
  &__image{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
  }
  &__info{
    flex: 1;
    @include flex;
    @include justify-space-between;
    flex-direction: column;
  }
  &__top{
    margin-bottom: 1.6rem;
  }
  &__date{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-gray);

    &--second{
      @extend .mayors__date;
      margin-bottom: 1rem;
    }
  }
  &__name{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-black);
    margin-bottom: 1rem;

    &--second{
      @extend .mayors__name;
      margin-bottom: 0;
    }
  }
  &__description{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-black);
  }
  &__bottom{
    @include breakpoint(tablet){
      margin-top: 2rem;
    }
  }
  &__btn{
    text-decoration: none;
    display: block;
    width: 15rem;
    border-radius: .4rem;
    padding: 1rem 0;
    transition: .3s ease;

    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    text-align: center;

    background-color: var(--color-second-blue);
    color: var(--color-white);

    &:hover{
      background-color: var(--color-second-orange);
    }
  }
}

.project{
  margin-right: 2.4rem;

  @include breakpoint(tablet-big){
    margin-right: 0;
  }

  &__header{
    @include flex;
    @include align-center;
    @include justify-space-between;

    margin-bottom: 1.6rem;

  }
  &__item{
    background-color: #f7f7f7;
    @include flex;


    border-radius: .4rem;

    @include breakpoint(mobile){
      flex-direction: column;
    }

    &:not(:last-child){
      margin-bottom: 1.6rem;
    }
  }

  &__photo{
    flex: 0 0 30%;

    @include breakpoint(tablet){
      flex: 0 0 40%;
    }

    &--intern{
      margin: 3.2rem 0;
    }
  }

  &__image{
    display: block;
    width: 100%;
    height: 100%;
    
    border-radius: .4rem;

    &--intern{
      width: 100%;
      display: block;
      border-radius: .4rem;
    }
  }

  &__content{
    flex: 1;

    @include flex;
    @include justify-space-between;

    flex-direction: column;

    padding: 1.8rem 2.4rem;

    @include breakpoint(mobile){
      order: 1;
      padding: 1.6rem 1.5rem;
    }
  }

  &__top{
    margin-bottom: 1rem;
  }

  &__date{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--color-gray);
    margin-bottom: 1rem;
  }

  &__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-black);
    margin-bottom: 1rem;

    &--intern{
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.8rem;
      color: var(--color-black);
      margin-bottom: 4rem;
    }
  }

  &__text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-black);

    &--intern{
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: var(--color-black);
    }

    &-small{
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.6rem;
      color: var(--color-black);
      margin-bottom: 4.3rem;
    }
  }

  &__bottom{

  }

  &__btn{
    display: inline-block;
    text-decoration: none;
    transition: .3s ease;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color-second-blue);

    &:hover{
      color: var(--color-second-orange);
    }
  }

  &__video{
    margin-top: 3.2rem;
    height: 46.4rem;

    @include breakpoint(tablet){
      height: 36rem;
    }

    @include breakpoint(mobile){
      height: 26rem;
    }

    iframe{
      width: 100%;
      height: 100%;
      border-radius: .4rem;
    }
  }
}

.shared{

  &__list{
    list-style: none;
  }

  &__item{
    @include flex;
    @include align-center;
    

    position: relative;
    &:hover{
      .shared__sublist{
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__icon{
    @include flex;
    @include align-center;
    cursor: pointer;
    svg{

      margin-left: .5rem;
      path{
        fill: var(--color-primary-blue)
      }
    }
  }

  &__text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-primary-blue);
    cursor: pointer;
  }

  &__sublist{
    @include flex;
    @include align-center;

    list-style: none;
    position: absolute;
    top: 100%;
    left: -1rem;
    opacity: 0;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: .4rem;
    transition: .3s ease;
    pointer-events: none;

    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
  }

  &__subitem{
    svg{
      path{
        transition: .3s ease;
        fill: var(--color-primary-blue);
      }
    }
    &:not(:last-child){
      margin-right: 1.6rem;
    }
  }

  &__link{
    display: block;
    text-decoration: none;

    &:hover{

      svg{
        path{
          fill: var(--color-second-orange);
        }
      }
    }
  }
}

.tourism{
  flex: 1;
  margin-right: 2.4rem;

  @include breakpoint(tablet-big){
    margin-right: 0;
  }
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.4rem;

    @include breakpoint(tablet){
      grid-template-columns: repeat(2,1fr);
    }
    @include breakpoint(mobile){
      grid-template-columns: repeat(1,1fr);
    }
  }

  &__list{
    margin: 3.2rem 0;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid #ECECEC;
    list-style: none;
  }

  &__item{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color:var(--color-black);

    &:not(:last-child){
      margin-bottom: 1rem;
    }
  }

  &__link{
    display: inline-block;
    text-decoration: none;
    transition: .3s ease;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    color:var(--color-second-blue);

    &:hover{
      color: var(--color-second-orange);
    }
  }

  &__galery{

  }

  &__group{
    &:not(:last-child){
      margin-bottom: 2.4rem;
    }
  }

  &__image{
    width: 100%;
    display: block;
    border-radius: .4rem;
  }
}

.secretary{
  margin-right: 2.4rem;

  @include breakpoint(tablet-big){
    margin-right: 0;
  }

  &__item{
    @include flex;

    @include breakpoint(mobile){
      display: block;
    }

    padding: 2.5rem 0;

    &:first-child{
      border-top: 1px solid #ECECEC;
    }

    &:not(:last-child){
      border-bottom: 1px solid #ECECEC
    }

    &--second{
      padding: 1.8rem 2.4rem;
      background-color: #F7F7F7;
      border-radius: .4rem;

      &:not(:last-child){
        margin-bottom: 1.6rem;
      }
    }
  }

  &__icon{
    flex: 0 0 18.4rem;

    @include flex;
    @include align-center;
    @include justify-center;

    @include breakpoint(mobile){
      @include align-start;
      @include justify-start;
      flex: 0 0 9rem;

      margin-bottom: 1.6rem;
    }
  }

  &__info{
    flex: 1;
  }

  &__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-black);
    margin-bottom: 1rem;

  }

  &__text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-black);
    margin-bottom: 1.6rem;
  }

  &__link{
    text-decoration: none;
    display: inline-block;
    transition: .3s ease;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color-second-blue);

    &:hover{
      color: var(--color-second-orange);
    }
  }

  &__date{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-gray);
    margin-bottom: .8rem;
  }

  &__btn{
    @include flex;
    @include align-center;
    @include justify-center;

    margin-top: 3.3rem;
    padding: .8rem 0;

    text-decoration: none;
    width: 9.5rem;
    transition: .3s ease;
    border-radius: .4rem;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;

    color: var(--color-white);
    background-color: var(--color-second-blue);

    &:hover{
      background-color: var(--color-second-orange);
    }

    svg{
      margin-left: .5rem;
      path{
        fill: var(--color-white);
      }
    }

  }

  &__header{
    @include flex;
    @include align-center;
    margin-bottom: 1.7rem;
  }

  &__number{
    margin-left: 1.9rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--color-black);

  }

  &__status{
    border: 1px solid;
    padding: 0 .8rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    text-transform: uppercase;
    text-align: center;

    &-aberto{
      @extend .secretary__status;
      border-color: var(--color-second-orange);
      color: var(--color-second-orange);
    }

    &-aprovacao{
      @extend .secretary__status;
      border-color: var(--color-second-blue);
      color: var(--color-second-blue);
    }

    &-finalizado{
      @extend .secretary__status;
      border-color: var(--color-second-green);
      color: var(--color-second-green);
    }

    &-notVagas{
      @extend .secretary__status;
      border-color: var(--color-gray);
      color: var(--color-gray);
    }
  }
}

.contact{
  margin-right: 2.4rem;
  flex: 1;

  @include breakpoint(tablet-big){
    margin-right: 0;
  }

  &__text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-black);
    line-break: anywhere;
  }

  &__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-black);
    margin-bottom: 1rem;
  }

  &__row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2.4rem;

    @include breakpoint(tablet){
      grid-template-columns: repeat(1,1fr);
    }
  }

  &__item{
    padding: 2.2rem 0;
    border-bottom: 1px solid #f7f7f7;

    &:first-child{
      border-top: 1px solid #f7f7f7;
    }
  }
}

.requerimento{
  flex: 1;
  margin-right: 2.4rem;

  @include breakpoint(tablet-big){
    margin-right: 0;
  }

  &__item{
    padding-bottom: 3.1rem;

    &:not(:last-child){
      margin-bottom: 3.1rem;
      border-bottom: 1px solid #f7f7f7;
    }
  }

  &__title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--color-black);
    margin-bottom: 2.6rem;
  }

  &__doc{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--color-black);
    margin-bottom: 1.6rem;
  }

  &__text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-black);
    margin-bottom: 2.4rem;

    span{
      color: var(--color-second-orange);
    }
  }

  &__obs{
    @extend .requerimento__text;
    margin: 0;
    margin-top: 3.2rem;
  }
}